!!!
%html
  %head
    %title You're welcome, you can read the title text
    %meta{ :name => 'viewport', :content => 'width=320; initial-scale=1.0;' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    %link{ :rel => 'stylesheet', :href => '/css/xkcd.css' }

  %body
    %section
      %h1
        %a{ :href => '/' } xkcd mobile

    %section
      %h2= title

      =haml :nav
      %img{ :src => source, :class => "comic" }
      =haml :nav

      %p= title_text
