!!!
%html
  %head
    %title You're welcome, you can read the title text
    %meta{ :name => 'viewport', :content => 'width=320; initial-scale=1.0;' }

  %body
    %h1= title

    #menu
      -if @page.id > 1
        %a{ :href => "/#{@page.id - 1}" } Previous

      - if @page.id < KeyGrabber.current_key.to_i
        %a{ :href => "/#{@page.id + 1}" } Next

    #content
      %img{ :src => source }

      %p= title_text
