%nav
  %ul
    %li
      -if @page.id > 1
        %a{ :href => "/#{@page.id - 1}" } &lt; Previous

    %li
      - if @page.id < KeyGrabber.current_key.to_i
        %a{ :href => "/#{@page.id + 1}" } Next &gt;
