
body {
  background: #abd;
  font-family: Arial, sans-serif;
  margin: 5px;
  text-align: center;
}

h1 {
  color: #779;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.section {
  background: #fff;
  border: 1px solid #000;
  margin: 5px 0;
  border-radius: 5px;
}

.section h1 {
  margin: 5px 0;
}

.section h2 {
  margin: 5px 0;
}

#content p {
  margin: 0 5px;
}

.section .nav {
  margin: 10px 0;
}

.section .nav a {
  color: #fff;
  background: #779;
  border: 1px solid #000;
  font-size: 0.8em;
  padding: 1px 5px;
  text-decoration: none;
}
